{% extends 'article/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">Welcome To ArticleApp</h1>
        <p class="text-center">
            An article is a written work published in a print or electronic medium. It may be for the purpose of
            propagating news, research results, academic analysis, or debate.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>HOME</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            A news article discusses current or recent news of either general interest (i.e. daily newspapers) or of a
            specific topic (i.e. political or trade news magazines, club newsletters, or technology news websites).

            A news article can include accounts of eyewitnesses to the happening event. It can contain photographs,
            accounts, statistics, graphs, recollections, interviews, polls, debates on the topic, etc. Headlines can be
            used to focus the reader’s attention on a particular (or main) part of the article. The writer can also give
            facts and detailed information following answers to general questions like who, what, when, where, why and
            how.

            Quoted references can also be helpful. References to people can also be made through the written accounts of
            interviews and debates confirming the factuality of the writer’s information and the reliability of his
            source. The writer can use redirection to ensure that the reader keeps reading the article and to draw her
            attention to other articles. For example, phrases like "Continued on page 3” redirect the reader to a page
            where the article is continued.

            While a good conclusion is an important ingredient for newspaper articles, the immediacy of a deadline
            environment means that copy editing occasionally takes the form of deleting everything past an arbitrary
            point in the story corresponding to the dictates of available space on a page. Therefore, newspaper
            reporters are trained to write in inverted pyramid style, with all the most important information in the
            first paragraph or two. If the less vital details are pushed towards the end of the story, then the
            potentially destructive impact of draconian copy editing will be minimized.
        </div>
    </div>
{% endblock %}